body {
	font-family: sans-serif;
	color: #40c98d;
	background-color: #27394a;
	padding: 5%;
}

div.header-component > button {
	padding: 2px;
	border-radius: 5px;
	border-spacing: 3px;
	background-color: blue;
	margin-left: 10px;
}
